.AbMe {
  margin-top: 15vh;
  text-align: center;
  color: black;
  font-size: calc(10px + 1.25vmin);
  font-family: "Verdana" !important;
  display: grid;
  grid-gap: 0px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5vh;
  margin-right: 25vh;
  margin-left: 25vh;
  border-radius: 15px;
}

.ppic {
  grid-column: 2/4;
  width: 50vh;
}

.descMe {
  grid-column: 4/5;
  width: 60vh;
  text-align: left;
  margin-top: -10px;
}
