.App {
  text-align: center;
}

html,
body {
  font-family: "Verdana" !important;
  background-image: url("Background.jpg") !important;
}

.App-header {
  display: grid;
  background-image: url("Background.jpg") !important;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.four {
  grid-column: 4;
  grid-row: 2;
  color: black;
}

.App-link {
  color: black;
}
/* override bootstrap navbar colors */
.navbar,
.navbar-default {
  background-image: linear-gradient(
    to bottom,
    #0f0f0f 0,
    #0f0f0f 100%
  ) !important; /* override background image gradient w/ flat color */
}

h1,
h5 {
  color: white;
}

.TestHeader {
  margin-top: 50px !important;
}

.p15 {
  grid-column: 7;
  grid-row: 1;
}
.p1 {
  grid-column: 3/6;
  grid-row: 1;
  height: 33vh;
  background-color: white;
}

.img1 {
  background-color: white;
  color: black;
  height: 50vh;
}

.desc {
}

.title {
  margin-top: 100px;
  text-align: center;
  color: white;
  font-size: calc(10px + 2vmin);
  font-family: "Verdana" !important;
}

.projstyleMainA {
  margin-top: 8vh;
  text-align: center;
}

.SlideCont {
  margin-top: 100px;
}
